body{
    background-color: white;
}
header{
    font-family: Montserrat;
    font-size: 30px;
    display: inline-block;
    width: 100px;
    padding: 200px 200px 5px 0px;
}
.dropbtn {
    background-color: #000;
    color: white;
    padding: 16px;
    font-family: Montserrat;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    font-family: Montserrat;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #000;
}

div{
    background-color: white;
}
.img1 {
    padding: 20px;
    display: inline-block;
}

.img2 {
    padding: 0px 20px 20px;
    display: inline-block;
}

p{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.5em;
    display: inline-block;
    width: 350px;
    padding: 50px;
} 
